@tailwind base;
@tailwind components;
@tailwind utilities;
/* Colors */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');

/* Customize fonts */
@layer utilities {
  .font-proxima {
    font-family: 'Proxima Nova', sans-serif;
  }
}
/* Thêm màu và hiệu ứng hover cho nút "Create Event" */
.create-event-btn {
  background-color: #1890ff; /* Màu xanh dương */
  border-color: #1890ff; /* Màu viền */
}

.create-event-btn:hover {
  opacity: 0.8; /* Hiệu ứng hover */
}

